#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;


}
.list-group {
  padding: 0;
  list-style: none;
}

.list-group-item {
  padding: 1px 100px 1px 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.list-group-item:hover {
  background-color: #535bf2;
  color: #f9f9f9;
}

.list-group-item:last-child {
  margin-bottom: 0;
}