#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.alert{
  margin: 10px;
  opacity: .5;
}
.alert-primary {
  color: #f9f9f9;
  background-color: blue;
}

.alert-success {
  background-color: green;
}

.alert-danger {
  background-color: red;
}


